################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/-PrimalNumbers/v16/Browse.VC.opendb
/.vs/-PrimalNumbers/v16/Browse.VC.db-wal
/.vs/-PrimalNumbers/v16/Browse.VC.db-shm
/.vs/-PrimalNumbers/v16/Browse.VC.db
